.expand-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.info {
  input,
  textarea {
    border: 1px solid #ccc;
  }
  .input__container {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    color: purple;
  }
}
