.expand-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: row;
  height: 100vh;
  input,
  textarea {
    border: 1px solid #ccc;
  }
  .input__container {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    color: purple;
  }
}

.user-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}
