@import "tailwindcss";
@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}

/* looks more old-school formal */
/* .App {
  text-align: center;
  font-family: "Quicksand";
  background-color: #f0f0f0;
  padding: 20px;
} */

.App {
  background-color: #f0f0f0;
  padding: 20px;
}

.buttons-and-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.general-info,
.education-exp,
.practical-exp {
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  align-items: self-end;
  padding: 15px;
}
.user-input {
  display: flex;
  flex-direction: row;
  justify-items: center;
}
#cv-form {
  border: 1px solid white;
  width: 600px;
  padding: 10px;
  margin: 10px;
}
